---
import Base from '../layouts/Base.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Problems from '../components/Problems.astro';
import Services from '../components/Services.astro';
import About from '../components/About.astro';
import Insights from '../components/Insights.astro';
import Footer from '../components/Footer.astro';
---

<Base>
  <Nav />
  <main>
    <Hero />
    <Problems />
    <Services />
    <Insights />
    <About />
  </main>
  <Footer />
</Base>
